@model List<WebSave.Model.File>

<form method="post">
    <table class="table table-active">
        <thead>
            <tr>
                <th scope="col">文件名称</th>
                <th scope="col">操作</th>
                <th scope="col"><a class="btn btn-success" asp-action="Add" asp-route-id="@ViewData["FileTypeId"]">添加</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FileName</td>
                    <td>
                        <button class="btn btn-light" asp-action="Detail" type="submit" asp-route-fileId="@item.Id">查看</button>
                        <button class="btn btn-danger">删除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
