@model LoginViewModel

<form asp-action="Login" asp-controller="Account" method="post">
    <div>
        <label asp-for="UserName"></label>
        <input class="input-group" autocomplete="off" asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input class="input-group" autocomplete="off" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <input class="btn btn-danger" type="submit" value="登录" />
    </div>

    <div asp-validation-summary="All"></div>
</form>